html, body{
    height: 100%;
    margin: 0;
}

.fullPage{
    display: flex;
    min-height: 100%;
}


.left{
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-around;
  
    width: 30%;
    background-image: url(fahrul-azmi-9OU7c_Spzw8-unsplash.jpg);
    background-size: cover;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: auto;
    
    width: 70%;
    background-color: whitesmoke;
}

.logo  {
    display: flex;
    flex-direction: row;
    height: 15%;

    background: rgba(0, 0, 0, 0.5);
    justify-content: center;

}

.logoName{
    color: white;
    font-family: ;
}

