html, body{
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: my-cool-font;
    src: url(Fonts/Norse-Bold.otf);
}

.fullPage{
    display: flex;
    min-height: 100%;
}


.left{
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
  
    width: 35%;
    background-image: url(fahrul-azmi-9OU7c_Spzw8-unsplash.jpg);
    background-size: cover;
}

.right{
    display: flex;
    flex-direction: column;
    width: 65%;
    
    background-color: whitesmoke;
}

.logo  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15%;
    margin-top: 30%;
    padding: 8px;

    background: rgba(0, 0, 0, 0.5);

}

.logoName{
    color: white;
    font-family: my-cool-font, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
    letter-spacing: 0;
    align-self: center;
}

.photoCredit{
    align-self: center;
    color: white;
    font-weight: 400;
    
}

.photoCredit >p >a:link{
    text-decoration: underline;
    color: white;
    
}

.photoCredit >p >a:visited{
    text-decoration: underline;
    color: white;
    
}

.contentBg{

    width: 100%;
    height: 35%;
    background-color: gainsboro;
    padding: 5%;
    padding-right: 20%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;

    font-size: 20px;
    font-weight: 500;

}

.formBg{
  height: 30%;
  padding: 5%;
  padding-right: 30%;
}

.formDiv{
    display: flex;
    flex-direction: column;
}



.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F6F7F8;   
}

.formtop, .formMid, .formbottom{
    display: flex;
    flex-direction: row;
    margin-right: 30%;
    margin-left: 0;
    justify-content: space-between;
    
}





.formRow{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    
    margin-top: 16px;
}


.formRow input[type='text'],
.formRow input[type='email'],
.formRow input[type='password'],
.formRow input[type='tel'] {

    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

.formRow input[type='text'] :focus,
.formRow input[type='email'] :focus,
.formRow input[type='password'] :focus,
.formRow input[type='tel'] :focus{
    border: 1px solid blue;
    color: blue;
    box-shadow: none;
}

  .formRow label {
   color: black;
   letter-spacing: 1px;
  }
  
.submitBg{
    height: 35%;
    background-color: gainsboro;
    padding: 5%;
}
.submit >p > a:link{
    color: #596D48;
    text-decoration: underline;
}

.submitb >p > a:visited{
    color: #596D48;
    text-decoration: underline;
}

.submit{
    background-color: #596D48;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    box-shadow: black;
}


